.header {
  position: sticky;
  top: 0;
  background-color: #525252;
  border-bottom: 1px solid #555;
  z-index: 3;
}
.header .w {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}
.header .w nav {
  grid-column: 2 / span 1;
}
.header .w nav div {
  float: left;
  margin-left: 30px;
}
.header .w nav div a {
  font-size: 20px;
  color: #e9e9e9;
}
.header .w nav .money {
  position: relative;
}
.header .w nav .money .qrcode {
  display: none;
  position: absolute;
  left: -110px;
  top: 30px;
  background-color: #fff;
  width: 200px;
  padding: 20px;
}
.header .w nav .money .qrcode i {
  position: absolute;
  margin: 0 auto;
  top: -10px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
}
.header .w nav .money .qrcode img {
  width: 100%;
}
.header .w nav .money .qrcode p {
  font-size: 16px;
  line-height: 20px;
}
.header .w nav .money:hover .qrcode {
  display: block;
}
.main {
  background-color: #525252;
}
.main .w {
  height: 400px;
  position: relative;
}
.main .w .logo {
  width: 500px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main .w .logo a {
  letter-spacing: 5px;
  font-size: 50px;
  color: #e9e9e9;
}
.center {
  padding: 100px 0;
}
.center .w {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 80px;
}
.center .w li {
  height: 340px;
  background-color: #fff;
}
.center .w li a {
  display: block;
  width: 100%;
  height: 100%;
}
.center .w li a .view {
  width: 100%;
  height: 75%;
  background-color: #acacac;
}
.center .w li a p {
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
}
.center .w .shine {
  height: 100%;
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}
.center .w .shine p {
  font-size: 40px;
}
.border {
  background-color: #e4fafa;
}
.border .w {
  height: 150px;
}
.footer .w {
  height: 400px;
}
.goTop {
  background-color: #fff;
}
.goTop .w {
  height: 100px;
}
.goTop .w a {
  float: right;
  color: #686868;
  height: 100%;
  line-height: 100px;
}
